<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Hoteis, hospedagem, lazer, viajens, conferencias.">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="css/estilo.css">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    <title>SN Salgados</title>
</head>
<body>
    <header>
    <div class="container"> 
        <div class="cabecalho"> 
            <div style="background-color: rgb(255, 255, 255);" class="col-md-6" > 
                <p><img src="imagens/logo.png"width="200px"/></p> 
            </div> 
            <div style="background-color: rgb(255, 255, 255);" class="col-md-6"> 
                <p><img src="imagens/IconeUsuario.png" width="30px"/><img src="imagens/iconeSaida.webp" width="60px"/></p> 
            </div> 
        </div> 
    </div> 
</header>
<nav>
    <div class="container"> 
        <div class="menu"> 
            <div style="background-color: rgb(255, 255, 255);" class="col-md-12"> 
                <div class="dropdown"><a href="#">Home</a></div>
                <div class="dropdown"><a href="cadastroProdutos.html">Cadastrar Produtos</a></div> 
                <div class="dropdown"><a href="listaProdutos.html">Lista de Produtos</a></div>
                <div class="dropdown"><a href="#">Relatório de Venda</a></div>
            </div> 
        </div>  
    </div>
</nav>
<main>
    <div class="container"> 
        <div class="principal"> 
            <div style="background-color: rgb(255, 255, 255);" class="col-md-4" > 
                <p><img src="imagens/cozinha.jpg"width="300px"/></p>
                <h4>Cozinha inspecionada periódicamente</h4> 
            </div> 
            <div style="background-color: rgb(255, 255, 255);" class="col-md-4"> 
                <p><img src="imagens/salgados.jpg" width="300px"/></p> 
                <h4>Salgados com vários tamanhos</h4>
            </div> 
            <div style="background-color: rgb(255, 255, 255);" class="col-md-4"> 
                <p><img src="imagens/sobremesas.webp" width="300px"/></p> 
                <h4>Deliciosas sobremesas</h4>
            </div>
        </div> 
    </div> 
</main>
<footer>
    <div class="container"> 
        <div class="rodape"> 
            <div style="background-color: rgb(255, 255, 255);" class="col-md-12" > 
                <p><strong>Projeto Integrador:</strong> UC15 Etapas 7 e 8 Atividade2</p> 
            </div> 
        </div>  
    </div>
</footer>

<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>